/**{
    margin: 0;
    padding: 0;
}
*/
body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial;
    font-size: 16px;
    font-weight: normal;

    line-height: 1.6em;
    margin: 0;
}

a:hover{
    color: red ;
}

.container{
    width: 80%;
    margin: auto;
}

.button{
    background-color: #303030;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.clearfix{
    clear: both;
}

.box-1 {
    background-color: #696969;
    color: #d9d9d9;

    border: 5px #303030 solid;
    padding: 20px;
    margin: 20px 0;
  }

.box-2{
    border: 3px dotted #ccc;
    font-family: Cambria;

    padding: 20px;
    margin: 20px 0;
}

.categories{
border: 1px #cccccc solid;
    padding: 10px;
    border-radius: 20px;
}
.categories h2{
    text-align: center;
}
.categories ul{
    padding: 8px;

}

.categories li{
    margin-left: 50px;
    padding-left: 8px;
    padding-bottom: 8px;
    list-style-image: url("images/check.png");
   }

.my-form{
    padding:30px;

}

.my-form.form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float:left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70% ;
}

#sidebar{
    float: left;
    width: 30% ;
    background-color: #696969;
    color: #d9d9d9;
    padding: 15px;
    box-sizing: border-box;
}

















































